@import "tailwindcss";

@theme {
  --color-crimson: #A51C30;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-neutral-950 text-white antialiased;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }
}